<!DOCTYPE html>
<html>
  <head>
    <title>PPT编辑器</title>

    <link href="/stylesheets/index.css" rel="stylesheet" />
<link rel="shortcut icon" href="http://page.zgenk.com/images/e1f0f92492de28f5c9064957d4842002.jpg" />

  </head>
  <body>
   	<textarea class="editor" id="textinput"><% if(fql){%><%-fql.con %><%}else{%>##DabenPPT是什么?
一个在线编辑markdown文档的编辑器,并能生成ppt的这么个东西


##DabenPPT有哪些功能？

* 编辑和预览`同步滚动`，所见即所得
* 有数量也有质量的`主题`,编辑器和预览区域
* 完美兼容`Github`的markdown语法
* 预览区域`代码高亮`
* 所有选项自动记忆
* 根据配置生成你想要的PPT

##有问题反馈
在使用中有任何问题，欢迎反馈给我，可以用以下联系方式跟我交流

* 邮件(daben1990#gmail.com, 把#换成@)
* QQ: 8387330592
* weibo: [@daben1990](http://weibo.com/daben1990)


##关于作者

```javascript
  var ihubo = {
    nickName  : "大奔",
    site : "http://www.zgenk.com"
  }
```<%}%></textarea>
    <div class="page">
      <% if(fql){%><%-fql.ppCon %><%}else{%>
    <h2>DabenPPT是什么?</h2>
<p>一个在线编辑markdown文档的编辑器,并能生成ppt的这么个东西</p>
<h2>DabenPPT有哪些功能？</h2>
<ul>
<li>编辑和预览<code>同步滚动</code>，所见即所得</li>
<li>有数量也有质量的<code>主题</code>,编辑器和预览区域</li>
<li>完美兼容<code>Github</code>的markdown语法</li>
<li>预览区域<code>代码高亮</code></li>
<li>所有选项自动记忆</li>
<li>根据配置生成你想要的PPT</li>
</ul>
<h2>有问题反馈</h2>
<p>在使用中有任何问题，欢迎反馈给我，可以用以下联系方式跟我交流</p>
<ul>
<li>邮件(daben1990#gmail.com, 把#换成@)</li>
<li>QQ: 8387330592</li>
<li>weibo: <a href="http://weibo.com/daben1990">@daben1990</a></li>
</ul>
<h2>关于作者</h2>
<pre><code class="lang-javascript"><div class="highlight"><pre>  <span class="kd">var</span> <span class="nx">ihubo</span> <span class="o">=</span> <span class="p">{</span>
    <span class="nx">nickName</span>  <span class="o">:</span> <span class="s2">"大奔"</span><span class="p">,</span>
    <span class="nx">site</span> <span class="o">:</span> <span class="s2">"http://www.zgenk.com"</span>
  <span class="p">}</span>
</pre></div>
</code></pre>

      <%}%>
    </div>


    
    <div class="tool">
    	<button type="button" id="lastPage">上一页</button>
    	<button type="button" id="nextPage">下一页</button>
    	<button type="button" id="hello">Hello World</button>
      <button type="button" id="funkStyle">特效</button>
      <button type="button" id="attention">注意</button>
      <button type="button" id="finish">保存</button>
      <input type="hidden" id="hid_panelVal" value='<%=  sql %>'>
      <input type="hidden" id="hid_pptId" value="<%=  titleid %>">

      <input type="hidden" id="hid_content" value="">
    </div> 
    <div class="mask hide"></div>
    <div class="board config hide">
    <a href="#" class="close">x</a>
    <h2>自定义当前幻灯片样式</h2>
    <div class="zuobiao">
       当前ppt所属页码:<input type="text" value="1" id="curpage">
    </div>
    <div class="zuobiao">
      是否需要白色背景:<input type="radio" style="
      vertical-align: middle;
width: 20px;
margin-right: 10px;"  class="backNeed" name="background" id="yes" value="1">
<label for="yes">是</label>
      <input type="radio" style="
      vertical-align: middle;
width: 20px;
margin-right: 10px;" name="background" class="backNeed" id="no" value="0"><label for="no">否</label>
    </div> 

    <div class="zuobiao">
      放大倍数:<input type="text" value="0" id="scale">
    </div>
    <div class="zuobiao">
      空间X坐标(px)：<input type="text" value="0" id="coordX"/>
      空间Y坐标(px)：<input type="text" value="0" id="coordY"/>
      空间Z坐标(px)：<input type="text" value="0" id="coordZ"/>
    </div>
    <div class="zuobiao">
      2D平面旋转角度(deg)：<input type="text" value="0" id="TwodDeg"/>
    </div>
    <div class="zuobiao">
      3D立体X轴旋转(deg)：<input type="text" value="0" id="ThrdXDeg"/>
      3D立体Y轴旋转(deg)：<input type="text" value="0" id="ThrdYDeg"/>
    </div>
    <div class="zuobiao">
      <button type="button" class="confirm" id="sure">确定</button>
      <button type="button" class="confirm" id="cancel">取消</button>
    </div>
    </div>
    <div class="board result hide">
       <a href="#" class="close">x</a>
         <h2>请记好您的PPt在线演示地址</h2>
         <p>在线地址为<a target="_blank" href="http://www.zgenk.com/ppt/<%=  titleid %>">http://www.zgenk.com/ppt/<%=  titleid %></a></p>
         <p>在线修改地址为<a target="_blank" href="http://www.zgenk.com/ppt/update/<%=  titleid %>">http://www.zgenk.com/ppt/update/<%= titleid %></a></p>

    </div>

    <script type="text/javascript" src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
    <script type="text/javascript" src="/javascripts/index.js"></script>

  </body>
</html>