<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>

    <link href="stylesheets/index.css" rel="stylesheet" />


  </head>
  <body>
   	<textarea class="editor" id="textinput"></textarea>
    <div class="page">


    </div>
    <div class="tool">
    	<button type="button">SAVE</button>
    	<button type="button">上一页</button>
    	<button type="button">下一页</button>
    	<button type="button">预览</button>
    </div>
    <script type="text/javascript" src="http://www.xiaomi.com/js/libs/jquery18.js"></script>
    <script type="text/javascript" src="javascripts/index.js"></script>
  </body>
</html>