<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=1024" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <title>impress.js | presentation tool based on the power of CSS3 transforms and transitions in modern browsers | by Bartek Szopka @bartaz</title>
    
    <meta name="description" content="impress.js is a presentation tool based on the power of CSS3 transforms and transitions in modern browsers and inspired by the idea behind prezi.com." />
    <meta name="author" content="Bartek Szopka" />

    <link href="http://fonts.googleapis.com/css?family=Open+Sans:regular,semibold,italic,italicsemibold|PT+Sans:400,700,400italic,700italic|PT+Serif:400,700,400italic,700italic" rel="stylesheet" />
    <link href="/stylesheets/ppt.css" rel="stylesheet" />
    <link rel="shortcut icon" href="http://page.zgenk.com/images/e1f0f92492de28f5c9064957d4842002.jpg" />
</head>
<body class="impress-not-supported">
	<div class="fallback-message">
		    <p>Your browser <b>doesn't support the features required</b> by impress.js, so you are presented with a simplified version of this presentation.</p>
		    <p>For the best experience please use the latest <b>Chrome</b>, <b>Safari</b> or <b>Firefox</b> browser.</p>
	</div>
	<div id="impress">
		
		<% ppts.forEach(function(ppt){ %>	
		<div <% if(ppt.conf.backNeed==1){%>class="step slide page"<% }else{ %>class="step page"<% } %>  data-x="<%=ppt.conf.coord.x %>" data-y="<%=ppt.conf.coord.y %>"  data-z="<%=ppt.conf.coord.z %>" data-scale="<%=ppt.conf.scale %>" data-rotate="<%=ppt.conf.TwodDeg %>"  data-rotate-x="<%=ppt.conf.ThrdXDeg %>" data-rotate-y="<%=ppt.conf.ThrdYDeg %>">
			   <p>
			    	<%- ppt.content %>
			   </p>
		</div> 

		<% }) %>	
   	
	</div>
	<div class="hint">
		<p>Use a spacebar or arrow keys to navigate</p>
	</div>
	<script> 
	if ("ontouchstart" in document.documentElement) { 
		document.querySelector(".hint").innerHTML = "<p>Tap on the left or right to navigate</p>";
	}
	var keydown=function(e){ 
		var e=e||event;
		if(e.keyCode==27){//增加全局预览
			 window.location.hash="#/overview";
		}
	}
	document.onkeydown=keydown;
	</script>
	<script type="text/javascript" src="/javascripts/ppt.js"></script>
	<script type="text/javascript">
		impress().init();




	</script>
</body>
</html>
