

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=1024" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <title>impress.js | presentation tool based on the power of CSS3 transforms and transitions in modern browsers | by Bartek Szopka @bartaz</title>
    
    <meta name="description" content="impress.js is a presentation tool based on the power of CSS3 transforms and transitions in modern browsers and inspired by the idea behind prezi.com." />
    <meta name="author" content="Bartek Szopka" />

    <link href="http://fonts.googleapis.com/css?family=Open+Sans:regular,semibold,italic,italicsemibold|PT+Sans:400,700,400italic,700italic|PT+Serif:400,700,400italic,700italic" rel="stylesheet" />
    <link href="/stylesheets/ppt.css" rel="stylesheet" />
    <link rel="shortcut icon" href="http://page.zgenk.com/images/e1f0f92492de28f5c9064957d4842002.jpg" />
</head>
<body class="impress-not-supported">
	<div class="fallback-message">
		    <p>Your browser <b>doesn't support the features required</b> by impress.js, so you are presented with a simplified version of this presentation.</p>
		    <p>For the best experience please use the latest <b>Chrome</b>, <b>Safari</b> or <b>Firefox</b> browser.</p>
	</div>
	<div id="impress">
		
			
		<div class="step slide page"  data-x="-1000" data-y="-1500"  data-z="0" data-scale="1" data-rotate="0"  data-rotate-x="0" data-rotate-y="0">
			   <p>
			    	<h2>欢迎使用可以旋转的PPT。哈。。</h2>
<h3>即使不用特效，也会默认生成正常的ppt。</h3>
<pre><code class="lang-html"><div class="highlight"><pre>    <span class="nt">&lt;html&gt;</span>
           <span class="nt">&lt;body&gt;</span>
                    <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"hello"</span><span class="nt">&gt;</span>

                            也可以使用html代码奥。哈哈

                    <span class="nt">&lt;/div&gt;</span>
            <span class="nt">&lt;/body&gt;</span>
    <span class="nt">&lt;/html&gt;</span>
</pre></div>
</code></pre>

			   </p>
		</div> 

			
		<div class="step slide page"  data-x="0" data-y="-1500"  data-z="0" data-scale="1" data-rotate="0"  data-rotate-x="0" data-rotate-y="0">
			   <p>
			    	<h1>关于作者</h1>
<pre><code class="lang-javascript"><div class="highlight"><pre>    <span class="kd">var</span> <span class="nx">author</span><span class="o">=</span><span class="p">{</span>
    <span class="nx">nickname</span><span class="o">:</span><span class="s2">"daben1990"</span><span class="p">,</span>
    <span class="nx">blog</span><span class="o">:</span><span class="s2">"http://www.zgenk.com/"</span>
   <span class="p">}</span>
</pre></div>
</code></pre>

			   </p>
		</div> 

			
		<div class="step slide page"  data-x="1000" data-y="-1500"  data-z="0" data-scale="1" data-rotate="0"  data-rotate-x="0" data-rotate-y="0">
			   <p>
			    	<h1>Tittle</h1>
<blockquote>
<p>我是索引。哈</p>
</blockquote>
<h2>联系我</h2>
<ul>
<li>邮件(daben1990#gmail.com, 把#换成@)</li>
<li>QQ: 838730592</li>
<li>weibo: <a href="http://weibo.com/daben1990">@daben1990</a></li>
</ul>

			   </p>
		</div> 

			
		<div class="step page"  data-x="0" data-y="0"  data-z="0" data-scale="4" data-rotate="0"  data-rotate-x="0" data-rotate-y="0">
			   <p>
			    	<h2>这个ppt，去掉了背景，改变了位置，并且，放大4倍。</h2>
<h1>U can find it</h1>

			   </p>
		</div> 

			
		<div class="step page"  data-x="850" data-y="3000"  data-z="0" data-scale="5" data-rotate="90"  data-rotate-x="0" data-rotate-y="0">
			   <p>
			    	<h2>ppt改变了以下特效</h2>
<ul>
<li>平面x位置为850</li>
<li>平面y位置为3000</li>
<li>平明顺时针旋转90度</li>
<li>平面放大5倍</li>
<li>平面去掉了白色背景</li>
</ul>

			   </p>
		</div> 

			
		<div class="step page"  data-x="3500" data-y="2100"  data-z="0" data-scale="6" data-rotate="180"  data-rotate-x="0" data-rotate-y="0">
			   <p>
			    	<h2>ppt改变了以下特效</h2>
<ul>
<li>平面x位置3500</li>
<li>平面y位置为2100</li>
<li>平明顺时针旋转180度</li>
<li>平面放大6倍</li>
<li>平面去掉了白色背景</li>
</ul>

			   </p>
		</div> 

			
		<div class="step page"  data-x="2825" data-y="2325"  data-z="-3000" data-scale="1" data-rotate="300"  data-rotate-x="0" data-rotate-y="0">
			   <p>
			    	<h2>ppt改变了以下特效</h2>
<ul>
<li>平面x位置2825</li>
<li>平面y位置为2325</li>
<li>空间z位置为-3000</li>
<li>平明顺时针旋转300度</li>
<li>平面放大1倍</li>
<li>平面去掉了白色背景</li>
</ul>

			   </p>
		</div> 

			
		<div class="step page"  data-x="3500" data-y="-1250"  data-z="0" data-scale="6" data-rotate="270"  data-rotate-x="0" data-rotate-y="0">
			   <p>
			    	<h2>ppt改变了以下特效</h2>
<ul>
<li>平面x位置3500</li>
<li>平面y位置为-1250</li>
<li>平明顺时针旋转270度</li>
<li>平面放大6倍</li>
<li>平面去掉了白色背景</li>
</ul>

			   </p>
		</div> 

			
		<div class="step page"  data-x="7200" data-y="-300"  data-z="0" data-scale="6" data-rotate="0"  data-rotate-x="0" data-rotate-y="0">
			   <p>
			    	<h2>ppt改变了以下特效</h2>
<ul>
<li>平面x位置7200</li>
<li>平面y位置为-300</li>
<li>平面放大6倍</li>
<li>平面去掉了白色背景</li>
</ul>

			   </p>
		</div> 

			
		<div class="step page"  data-x="6300" data-y="2000"  data-z="0" data-scale="4" data-rotate="20"  data-rotate-x="0" data-rotate-y="0">
			   <p>
			    	<p>want to know more?
<a href="https://github.com/bartaz/impress.js">TOUCH ME</a></p>

			   </p>
		</div> 

			
		<div class="step page"  data-x="6200" data-y="4300"  data-z="-100" data-scale="2" data-rotate="0"  data-rotate-x="-40" data-rotate-y="10">
			   <p>
			    	<h1>3D 变化</h1>
<blockquote>
<p>变化吧。扭曲小王纸</p>
</blockquote>

			   </p>
		</div> 

			
		<div class="step page"  data-x="3000" data-y="1500"  data-z="0" data-scale="10" data-rotate="0"  data-rotate-x="0" data-rotate-y="0">
			   <p>
			    	<p>&nbsp;</p>

			   </p>
		</div> 

			
   	
	</div>
	<div class="hint">
		<p>Use a spacebar or arrow keys to navigate</p>
	</div>
	<script> 
	if ("ontouchstart" in document.documentElement) { 
		document.querySelector(".hint").innerHTML = "<p>Tap on the left or right to navigate</p>";
	}
	var keydown=function(e){ 
		var e=e||event;
		if(e.keyCode==27){//增加全局预览
			 window.location.hash="#/overview";
		}
	}
	document.onkeydown=keydown;
	</script>
	<script type="text/javascript" src="/javascripts/ppt.js"></script>
	<script type="text/javascript">
		impress().init();




	</script>
</body>
</html>
